<h1>Welcome</h1>
<p>We have trains and Customers</p>
<%= link_to "Show me the trains", trains_path %>
<br/>
<%= link_to "Show me the customers", customers_path %>
<br/>
<%= link_to "Show me the tickets", tickets_path %>

